@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  background-image: url("/assets/background.png");
  background-color: #0d0604;
  min-width: 90vw;
  min-height: 100vh;
}

p {
  color: #EDC865;
}